* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: #4f77ff;
  --heading-color: #2d3958;
  --text-color: #7b88a8;
  --white-color: #fff;
  --green-color: #34c635;
  --red-color: #ef3737;
  --gray-color: #e7e5ea;
  --gray-color-500: #292f3a;
  --yellow-color: #f7f5f1;
  --orange-color: #f9c45c;

  --bg-color: var(--white-color);

  /* fonts */
  --primary-font: "Outfit", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  /* line-height */
  --line-height-normal: 1.6;
}

body.dark {
  --bg-color: black;
  --text-color: white;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul,
ol {
  list-style-type: none;
}

button {
  font: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--white-color);
}

input {
  font: inherit;
  outline: none;
  border: 0;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading-color);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 12px 38px;
  border-radius: 5px;
  line-height: 1.7;
  transition: background-color 0.25s;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #6684e8;
}

.section {
  position: relative;
  padding: 120px 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.only-pc {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 16px 0;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-link {
  position: relative;
  font-weight: var(--font-weight-medium);
  padding: 10px;
  transition: color 0.25s;
}

.menu-item.active .menu-link::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background-color: var(--green-color);
  transform: translateX(-50%);
}

.menu-item {
  position: relative;
}

.submenu-link {
  display: block;
  padding: 10px 20px;
  transition: background-color 0.25s;
}

.submenu-link:hover {
  background-color: #61779833;
}

.submenu-list {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 120%;
  width: 250px;
  background-color: var(--white-color);
  border-radius: 20px;
  transform: translateX(-50%);
  transition: all 0.25s;
  opacity: 0;
  box-shadow: 0px 10px 20px 0px #4f77ff33;
}

.menu-item:hover .submenu-list {
  opacity: 1;
  visibility: visible;
}

.menu-link:hover {
  color: var(--heading-color);
}

.menu-item.active .menu-link {
  color: var(--heading-color);
}

.header-action {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.btn-bag {
  position: relative;
}

.btn-bag::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid var(--white-color);
  border-radius: 999px;
  background-color: var(--red-color);
}

.btn-signup {
  margin-left: 10px;
}

.hero-content {
  max-width: 770px;
}

.section-hero {
  display: flex;
  align-items: center;
  height: 950px;
  background: url(./images/img_hero.png) center/cover no-repeat;
  background-color: var(--yellow-color);
}

.section-hero .section-heading {
  text-align: left;
}

.section-heading {
  text-align: center;
}

.section-title {
  font-size: 72px;
  line-height: 1.1;
}

.section-title.title-lg {
  font-size: 64px;
}

.section-title.title-md {
  font-size: 48px;
}

.section-title.title-sm {
  font-size: 36px;
}

.hightlight-text {
  background: #867fff;
  background: linear-gradient(to right, #867fff 0%, #f7bcee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle {
  margin-top: 30px;
  font-size: 18px;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
}

.btn-play {
  padding: 0;
  gap: 7px;
  color: var(--heading-color);
}

.btn-play .play-icon {
  width: 52px;
  height: 52px;
  background-color: var(--white-color);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px #12022f26;
}

.btn-scroll-down {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 50%);
  background-color: var(--orange-color);
  box-shadow: 0px 5px 20px 0px #12022f26;
}

/* Section services */
.service-wrap {
  text-align: center;
}

.service-list {
  display: flex;
  gap: 30px;
  margin-top: 80px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px 60px;
  border-radius: 20px;
  border: 1px solid #61779833;
  text-align: center;
}

.service-card:hover {
  box-shadow: 0px 20px 50px 0px #4f77ff33;
  border-color: transparent;
  transition: all 0.25s;
}

.service-icon {
  width: 60px;
  height: 60px;
}

.service-info {
  margin-top: 22px;
}

.service-title {
  font-size: 22px;
  line-height: calc(32 / 22);
}

.service-desc {
  margin-top: 30px;
}

.btn-service {
  margin-top: 70px;
}

.brands-area {
  margin-top: 120px;
}

.brand-list {
  display: flex;
  justify-content: center;
  gap: 105px;
  margin-top: 70px;
}

.project-area {
  margin-top: 190px;
}

.section-project {
  background-color: var(--yellow-color);
}

.project {
  display: flex;
  gap: 100px;
}

.project-image {
  position: relative;
}

.project-image,
.project-content {
  flex: 1;
}

.shape {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  right: -40px;
}

.project-info-list {
  max-width: 470px;
  margin-top: 50px;
}

.project-info-item {
  display: flex;
  gap: 13px;
}

.project-info-item + .project-info-item {
  margin-top: 30px;
}

.project-info-image {
  width: 32px;
  height: 32px;
}

.project-info-title {
  font-size: 18px;
}

.project-info-text {
  margin-top: 10px;
}

.project-area {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.project:nth-child(2) {
  flex-direction: row-reverse;
}

.project:nth-child(2) .shape {
  right: auto;
  left: 0;
}

.project:nth-child(3) .shape {
  top: auto;
  bottom: 100px;
}

.project .btn-project {
  margin-top: 70px;
}

/* Section Explore */

.explore-wrap {
  margin-top: 100px;
}

.explore-box {
  display: flex;
  gap: 30px;
}

.explore-box + .explore-box {
  margin-top: 50px;
}

.explore-box:nth-child(2n) {
  flex-direction: row-reverse;
}

.explore-link {
  margin-top: 30px;
  font-size: 22px;
  color: var(--primary-color);
}

.explore-image {
  overflow: hidden;
  height: 570px;
  border-radius: 40px;
}

.explore-image > img {
  width: 100%;
  height: 100%;
}

.explore-item:first-child {
  flex-basis: 60%;
}

.explore-item:last-child {
  flex-basis: 40%;
}

.section-cta {
  height: 500px;
  background: url(./images/img_bg_cta.png) center/cover no-repeat;
  text-align: center;
}

.btn-cta {
  margin-top: 60px;
}

/* Footer */

.footer {
  padding-top: 100px;
  background-color: var(--gray-color-500);
  color: var(--gray-color);
}

.footer-inner {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.column-title {
  color: var(--white-color);
}

.footer-menu-list {
  margin-top: 20px;
}

.footer-column .column-title {
  font-size: 22px;
  text-transform: uppercase;
}

.footer-menu-link {
  font-size: 14px;
  text-transform: uppercase;
}

.footer-menu-link:hover {
  text-decoration: underline;
}

.footer-menu-item + .footer-menu-item {
  margin-top: 10px;
}

.footer-column {
  flex: 1;
}

.footer-column:last-child {
  min-width: 370px;
}

.footer-form {
  margin-top: 20px;
}

.footer-form .form-group {
  display: flex;
  gap: 6px;
  margin: 25px 0 15px;
}

.input-field {
  padding: 10px 18px;
  border-radius: 5px;
}

.input-field::placeholder {
  color: var(--text-color);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 27px 0;
  border-top: 1px solid rgba(123, 136, 168, 0.3);
}

.socials {
  display: flex;
  gap: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 999px;
  background-color: var(--primary-color);
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .only-pc {
    display: none;
  }

  .section {
    padding: 50px 0;
  }

  .section-title {
    font-size: 48px;
  }

  .section-title.title-lg {
    font-size: 28px;
  }

  .section-title.title-md {
    font-size: 24px;
  }

  .section-title.title-sm {
    font-size: 22px;
  }

  .header-action {
    display: none;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .menu-list {
    display: none;
  }

  .section-hero {
    background-position: 60% center;
    height: 100vh;
  }

  .btn-scroll-down {
    width: 50px;
    height: 50px;
  }

  .hero-button {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-top: 30px;
  }

  .service-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-service {
    margin-top: 40px;
  }

  .service-item {
    width: calc((100% - 30px) / 2);
  }

  .brands-area {
    margin-top: 40px;
  }

  .brand-list {
    margin-top: 40px;
    gap: 20px;
  }

  .project-area {
    gap: 40px;
    margin-top: 60px;
  }

  .project,
  .project:nth-child(2) {
    flex-direction: column;
  }

  .project .btn-project {
    margin-top: 40px;
  }

  .explore-box,
  .explore-box:nth-child(2n) {
    flex-direction: column;
  }

  .explore-image {
    height: 400px;
  }

  .section-cta {
    height: 400px;
  }

  .footer-inner {
    flex-direction: column;
  }

  .footer-column:last-child {
    min-width: unset;
  }

  .input-field {
    flex: 1;
    width: 50%;
  }

  .copy-right {
    text-align: center;
  }

  .footer-bottom {
    gap: 30px;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .service-item {
    width: 100%;
  }
}
